<!DOCTYPE html>
<html lang="en">
{{ template "theme/partials/head.html" . }}
<body id="post-index" class="feature">
{{ template "theme/partials/nav.html" . }}

  <div class="entry-header">
    <div class="image-credit">Image source: <a href="http://www.dargadgetz.com/ios-7-abstract-wallpaper-pack-for-iphone-5-and-ipod-touch-retina/">dargadgetz</a></div>
    <div class="entry-image">
      <img src="{{ .Site.BaseUrl }}/images/abstract-1.jpg">
    </div>
    <div class="header-title">
      <div class="header-title-wrap">
        <h1>{{ .Title }}</h1>
        <h2>Latest Posts</h2>
      </div>
    </div>
  </div>

  <div id="main" role="main">
    {{ range .Data.Pages }}
    <article class="hentry">
      <header>
        <div class="entry-meta">
          <span class="entry-date date published updated"><time datetime="{{ .Date.Format .Site.Params.TimestampFormat }}">{{ .Date.Format .Site.Params.PublishedDateFormat }}</time></span>
          {{ if .Site.Params.Auther }}
          <span class="author vcard"><span class="fn"><a href="{{ .Site.BaseUrl }}/about/" title="About {{ .Site.Params.Auther }}">{{ .Site.Params.Auther }}</a></span></span>
          {{ end }}
          •<span class="entry-comments"><a href="#disqus_thread">Comment</a></span>
          <span class="entry-reading-time pull-right"><i class="fa fa-clock-o"></i>Reading time {{ .ReadingTime }} minute</span>
        </div>
        <h1 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark" title="{{ .Title }}" itemprop="url">{{ .Title }}</a></h1>
      </header>
      <div class="entry-content">
        {{ .Content }}
      </div>
    </article>
    {{ end }}
  </div>

{{ template "theme/partials/footer.html" . }}
</body>
</html>
