body {
  word-wrap: break-word;
}
pre,
code {
  font-family: "Source Code Pro", "Consolas", "Inconsolata", "Menlo", "Courier", monospace;
}
pre {
  font-size: 0.8rem;
  word-wrap: normal;
}
.length {
  vertical-align: super;
}
.entry-header .length {
  font-size: 1.2rem;
}
.read-more-list {
  border: none;
}
.list-item h4 {
  margin-top: 0;
}
.entry-content ol {
  font-size: 0.8rem;
}
.entry-content sup {
  padding-right: 0.4em;
}
p code,
li code {
  position: relative;
  top: -2px;
}
#main {
  overflow-x: hidden;
}
@media only screen and (min-width: 48em) {
  .list-item:nth-child(2) {
    float: right;
  }
}
