<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
  <link href="/css/gisty.css" rel="stylesheet">

{{ template "theme/partials/ga.html" . }}

</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="image-container">
        <canvas class="image"></canvas>
      </div>
      <div class="title-container">
        <div class="title">
          <h1><a href="{{ .Site.BaseUrl }}">{{ .Site.Title }}</a></h1>
        </div>
      </div>
    </header>
    <div class="body">
