<div class="related-posts">
  <ul class="close-posts">
    {{with .Prev}}
    <li class="prev">
      <h4 class="title"><a rel="prev" href="{{.Permalink}}">{{.Title}}</a></h4>
      <span class="posted-date">Posted on {{ .Date.Format  "2006-01-02" }}</span>
    </li>
    {{end}}
    {{with .Next}}
    <li class="next">
      <h4 class="title"><a rel="next" href="{{.Permalink}}">{{.Title}}</a></h4>
      <span class="posted-date">Posted on {{ .Date.Format  "2006-01-02" }}</span>
    </li>
    {{end}}
  </ul>
</div>
