// Variables

font-family = 'Lato',Calibri,Arial,sans-serif
font-color = #222
background-color = #e8e8e8

// Mixins

panel()
  max-width 800px
  padding 50px 80px
  margin 0 auto 30px
  background #fff
  border-radius 3px
  box-shadow 0 0 0 1px rgba(187, 187, 187, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1)



*
  box-sizing border-box

html
body
  margin 0
  padding 0
  height 100%

body
  font-family font-family
  color font-color
  text-shadow none
  background background-color

h1,h2,h3,h4,h5,h6
  font-family font-family

h1
  font-size 32px
  font-size 2rem

ul,ol
  list-style none

a
  color #222
  text-decoration none
  a:visited
    color #555
    outline 0
  a:hover
    color #000
    outline 0
  a:focus
    color #000
    outline thin dotted


.wrapper
  position relative
  min-height 100%
  margin-top 50px auto 20px

.container
  margin 0 auto
  max-width 800px

.header
  position relative
  width 100%
  overflow hidden
  .image-container
    position relative
    top -50%
    left -50%
    width 200%
    height 200%
    min-height 400px
    overflow hidden
    .image
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      min-width 50%
      min-height 50%
      margin auto
      background -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%)
  .title-container
    position absolute
    top 0
    display table
    width 100%
    height 400px
    overflow hidden
    .title
      display table-cell
      margin 0 auto
      text-align center
      vertical-align middle
      h1
        margin 10px 60px
        font-weight 700
        font-size 3.75rem
        color #fff
        text-shadow 1px 1px 4px rgba(34,34,34,0.6)
      h2
        margin 0
        color #fff
        text-transform uppercase
        font-size 1.875rem

.body
  margin 40px 2px 20px

.article
  panel()

  h1 tt, h1 code
    font-size inherit

  h2 tt, h2 code
    font-size inherit

  h3 tt, h3 code
    font-size inherit

  h4 tt, h4 code
    font-size inherit

  h5 tt, h5 code
    font-size inherit

  h6 tt, h6 code
    font-size inherit

  h1
    font-size 28px
    color black

  h2
    font-size 24px
    border-bottom 1px solid #cccccc
    color black

  h3
    font-size 18px

  h4
    font-size 16px

  h5
    font-size 14px

  h6
    color #777777
    font-size 14px

  p, blockquote, ul, ol, dl, table, pre
    margin 15px 0

  hr
    background transparent url("http://tinyurl.com/bq5kskr") repeat-x 0 0
    border 0 none
    color #cccccc
    height 4px
    padding 0

  body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child
    margin-top 0
    padding-top 0

  a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6
    margin-top 0
    padding-top 0

  h1 p, h2 p, h3 p, h4 p, h5 p, h6 p
    margin-top 0

  li
    p
      &.first
        display inline-block

  ul, ol
    padding-left 30px

  ul :first-child, ol :first-child
    margin-top 0

  ul :last-child, ol :last-child
    margin-bottom 0

  dl
    padding 0
    dt
      font-size 14px
      font-weight bold
      font-style italic
      padding 0
      margin 15px 0 5px
      &:first-child
        padding 0
      & > :first-child
        margin-top 0
      & > :last-child
        margin-bottom 0
    dd
      margin 0 0 15px
      padding 0 15px
      & > :first-child
        margin-top 0
      & > :last-child
        margin-bottom 0

  blockquote
    border-left 4px solid #dddddd
    padding 0 15px
    color #777777
    & > :first-child
      margin-top 0
    & > :last-child
      margin-bottom 0

  table
    padding 0
    border-collapse collapse
    border-spacing 0
    tr
      border-top 1px solid #dddddd
      background-color white
      margin 0
      padding 0
      &:nth-child(2n)
        background-color #f8f8f8
      th
        font-weight bold
        border 1px solid #dddddd
        text-align left
        margin 0
        padding 6px 13px
      td
        border 1px solid #dddddd
        text-align left
        margin 0
        padding 6px 13px
      th
      td
        :first-child
        :first-child
          margin-top 0
        :last-child
        :last-child
          margin-bottom 0

  img
    max-width 100%

  span
    &.frame
      display block
      overflow hidden
      & > span
        border 1px solid #dddddd
        display block
        float left
        overflow hidden
        margin 13px 0 0
        padding 7px
        width auto
      span
        img
          display block
          float left
        span
          clear both
          color #333333
          display block
          padding 5px 0 0
    &.align-center
      display block
      overflow hidden
      clear both
      & > span
        display block
        overflow hidden
        margin 13px auto 0
        text-align center
      span
        img
          margin 0 auto
          text-align center
    &.align-right
      display block
      overflow hidden
      clear both
      & > span
        display block
        overflow hidden
        margin 13px 0 0
        text-align right
      span
        img
          margin 0
          text-align right
    &.float-left
      display block
      margin-right 13px
      overflow hidden
      float left
      span
        margin 13px 0 0
    &.float-right
      display block
      margin-left 13px
      overflow hidden
      float right
      & > span
        display block
        overflow hidden
        margin 13px auto 0
        text-align right

  code, tt, pre
    background-color code-background-color
    border 1px solid code-border-color
    border-radius code-border-radius
    font-family code-font-family
    font-size code-font-size

  code, tt
    margin 0 2px
    padding 0 5px
    white-space nowrap

  pre
    font-size 13px
    line-height 19px
    overflow auto
    padding 6px 10px
    code
      background transparent
      border none
      margin 0
      padding 0
      white-space pre

  h1
    font-size 2.5em
    border-bottom 1px solid #ddd
    a
    a:link
    a:visited
    a:hover
    a:active
      color inherit
      text-decoration none
  h2
    font-size 2em
    border-bottom 1px solid #ddd
  h3
    font-size 1.5em

.disqus
  panel()

.related-posts
  panel()
  .close-posts
    margin 40px 0
    padding 0
    li
      width 49%
      &.prev
        float left
        text-align left
      &.next
        float right
        text-align right
      .title
        font-size 1.125rem
        margin 0
      .posted-date
        display block
        font-size 0.875rem
        color #a2a2a2
    &:after
      display block
      content ''
      clear both

// .header
//   text-shadow 0 -1px 1px #f3f3f3
//   background-color #f3f3f3
//   background-image linear-gradient(#f9f9f9, #f3f3f3)
//   background-repeat repeat-x
//   border-bottom 1px solid #e5e5e5
//   margin-bottom 40px
//   h1
//     margin 0
//     font-size 24px
//     font-weight bold
//     line-height 40px
//     font-family inherit
//     text-rendering optimizelegibility
//     a
//     a:link
//     a:visited
//     a:hover
//     a:active
//       color inherit
//       text-decoration none

// .body
//   padding-bottom 59px

// .footer
//   position absolute
//   bottom 0
//   width 100%
//   // margin 40px 0 0 0
//   padding 20px 0
//   font-size 12px
//   line-height 1.5
//   color #777
//   text-shadow 0 1px 0 #fff
//   background-color #f5f5f5
//   border-top 1px solid #e5e5e5
//   .footer-links
//     float left
//     padding 0
//     list-style none
//     li
//       display inline-block
//       line-height 16px
//       &+li
//         margin-left 10px
//   &:after
//     display block
//     content ''
//     clear both

.meta
  margin-bottom 20px
  padding 0
  list-style none
  font-size 12px
  li
    margin 0
  ul
    padding 0
    list-style none
  .tag
    display inline-block
    margin-left 5px
    &:first-child
      margin-left 0
    &:before
      font-family 'octicons'
      content '\f015'
  // .history:before
  //   font-family 'octicons'
  //   content '\f07e'
  // .history:after
  //   font-family 'octicons'
  //   content '\f008'
  // .posted-date:before
  //   font-family 'octicons'
  //   content '\f06b'
  // .modified-date:before
  //   font-family 'octicons'
  //   content '\f06d'

.highlight
  position relative
  .lang
    position absolute
    top 0
    right 0
    display block
    padding 5px 15px
    font-size 11px
    color #999
    background #f0f0f0
    border 1px solid code-border-color
    border-radius 0 code-border-radius

  .c
    color #586e75 !important
    font-style italic !important
  .cm
    color #586e75 !important
    font-style italic !important
  .cp
    color #586e75 !important
    font-style italic !important
  .c1
    color #586e75 !important
    font-style italic !important
  .cs
    color #586e75 !important
    font-style italic !important
  .err
    color #dc322f !important
    background none !important
  .k
    color #cb4b16 !important
  .o
    color #93a1a1 !important
  .p
    color #93a1a1 !important
  .ow
    color #2aa198 !important
  .gd
    color #93a1a1 !important
    background-color #372c34 !important
    display inline-block
    .x
      color #93a1a1 !important
      background-color #4d2d33 !important
      display inline-block
  .ge
    color #93a1a1 !important
    font-style italic !important
  .gh
    color #586e75 !important
  .gi
    color #93a1a1 !important
    background-color #1a412b !important
    display inline-block
    .x
      color #93a1a1 !important
      background-color #355720 !important
      display inline-block
  .gs
    color #93a1a1 !important
  .gu
    color #6c71c4 !important
  .kc
    color #859900 !important
  .kd
    color #268bd2 !important
  .kp
    color #cb4b16 !important
  .kr
    color #d33682 !important
  .kt
    color #2aa198 !important
  .n
    color #268bd2 !important
  .na
    color #268bd2 !important
  .nb
    color #859900 !important
  .nc
    color #d33682 !important
  .no
    color #b58900 !important
  .nl
    color #859900 !important
  .ne
    color #268bd2 !important
  .nf
    color #268bd2 !important
  .nn
    color #b58900 !important
  .nt
    color #268bd2 !important
  .nx
    color #b58900 !important
  .vg
    color #268bd2 !important
  .vi
    color #268bd2 !important
  .nv
    color #268bd2 !important
  .mf
    color #2aa198 !important
  .m
    color #2aa198 !important
  .mh
    color #2aa198 !important
  .mi
    color #2aa198 !important
  .s
    color #2aa198 !important
  .sd
    color #2aa198 !important
  .s2
    color #2aa198 !important
  .se
    color #dc322f !important
  .si
    color #268bd2 !important
  .sr
    color #2aa198 !important
  .s1
    color #2aa198 !important
