pre, code
  font-family "Source Code Pro", "Consolas", "Inconsolata", "Menlo", "Courier", monospace

pre
  font-size 0.8rem

.length
  vertical-align super

.entry-header .length
  font-size 1.2rem

.read-more-list
  border none

.list-item h4
  margin-top 0

.entry-content
  h1, h2, h3, h4, h5, h6

p code
li code
  position relative
  top -2px
